{# CSS LINKS #}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mainpage.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">

{# JS LINKS #}
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
<script src="https://kit.fontawesome.com/efd8570a2e.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>

{#  METS  #}
<meta charset="UTF-8">